body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9d2d4;
}

.container{
    background: #fff; 
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    
}

h1 {
    text-align: center;
    color: rgb(10, 214, 54);
}

label {
    display: flex;
    margin-top:10px ; 
    color: #333;
}

input,textarea{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    font-size: 14px;
    background-color: #11df3e;
    border: none;
    border-radius: 4px;
}

button:hover{
    background-color: aqua;
}